body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: #191919;
    margin: auto;
}
header{
    overflow: hidden;
}
header h1{
    float: left;
    padding: 2%;
}
header img{
    width: 15%;
    float: left;
    padding: 4%;
}
nav{
    overflow: hidden;
    background-color: #191919;
}
nav a{
    float: left;
    padding: 2%;
    color: #fff;
}
aside{
    background-color: blueviolet;
    float: right;
    overflow: hidden;
}
main{
    background-color: gray;
    overflow: hidden;
}
footer{
    background-color: blue;
    overflow: hidden;
}
footer p{
    padding: 2%;
    text-align: center;
}
footer a{
    padding: 1%;
    text-align: center;
}