body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #191919;
}
header{
    width: 100%;
    background-color: #155376;
}
hgroup{
    text-align: center;
}
.topnav{
    overflow: hidden;
    background-color: #191919;
}
.topnav a{
    float: left;
    color: #fff;
    padding: 10px;
}
aside{
    width: 20%;
    float: right;
    background-color: aquamarine;
}
main{
    width: 80%;
    background-color: bisque;
}
article{
    padding: 10px;
}
footer{
    width: 100%;
    background-color: blueviolet;
}
div{
    padding: 10px;
}