body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}
header{
    padding-bottom: 10px;
}
nav{
    text-align: center;
}
aside{
    float: right;
    padding-right: 10px;
    padding-left: 10px;
}
section{
    padding-left: 50px;
}